.banner {
  background-size: cover;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 884px;
    min-height: 220px;
    margin: 0 auto;

    font-size: 1.1em;
    color: var(--white);
  }

  &__logo {
    margin: 0 0 6px 0;
  }
}
